<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.roulettebudddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />

    <application
        android:debuggable="true"
        android:icon="@drawable/desktop_icon"
        android:label="@string/app_name" >
        
        <activity
            android:label="Roulette Buddy"
            android:name=".activity.Game_Activity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
      <activity 
        android:label="Roulette Buddy - Settings"
        android:name=".activity.Settings_Activity">
      </activity>
      
    </application>

</manifest>
